<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Places In San Francisco</h1>
      <h3>Enter a Location</h3>
      
      <form method="get">
        <div class="form-group">
          <input type="text" class="form" id="a_location">
          <input type="button" class="btn btn-default" id="submit_location" value="Search for a Restaurant or Point of Interest">
        </div>
      </form>
      <p>Matching Locations</p>
      <div id="results"></div>
      <div id="confirmedLocation"></div>

    </div>
  </div>
</div>
