<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><%= @post.location.name %></h1>
      <%= @post.location.address %><br/>
      <%= @post.location.city %><br/>
      <%= @post.location.phone %>
    </div>
    <div class="col-md-12">
      
    </div>
  </div>
</div>
